<% if user_signed_in? %>
<%= link_to 'サインアウト', destroy_user_session_path, method: :delete %>
<% end %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dolor ratione ex iste aspernatur voluptatibus nulla natus repellat inventore qui molestias, dicta cum ab doloribus officiis quod deleniti soluta consequuntur!</p>

<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
